<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @photo.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Number of Views:</strong>
    <%= @photo.views %>
</p>

<p>
  <% if @photo.favourite? %>
    <%= link_to "Unlike", favourite_album_photo_path(@album, @photo), method: :post %>
  <% else %>
    <%= link_to "Like", favourite_album_photo_path(@album, @photo), method: :post %>
  <% end %>
</p>

<%= link_to 'Edit', edit_album_photo_path(@album, @photo) %> |
<%= link_to 'Back', album_photos_path(@album) %>
